* {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

@media screen and (max-width: 1200px) {
  html {
    visibility: hidden;
  }
}

html {
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-x: hidden;
}

/*Sidebar*/

.sidebar {
  position: fixed;
  width: 40px;
  height: 100vh;
  background: #57ad05;
}

.s-aside {
  right: 0;
}

header {
  width: auto;
  height: 100vh;
}

.container1 {
  width: 41%;
  height: 100vh;
  margin-left: auto;
}

.container1 div:nth-child(1) {
  width: auto;
  height: 20%;
}

.container1 span {
  color: red;
}

.container1 h4 {
  font-weight: 400;
  font-size: 20px;
}

.container1 h1 {
  font-weight: 600;
  font-size: 55px;
}

.container1 div:nth-child(2) {
  width: auto;
  height: 46%;
}

.container1 div:nth-child(2) p {
  text-align: justify;
  font-size: 20px;
  width: 460px;
  line-height: 35px;
  margin: auto;
}

.container1 div:nth-child(3) button {
  width: 190px;
  height: 70px;
  background: #89d20c;
  border-radius: 15px;
  color: white;
  border: 0;
  font-size: 22px;
  font-weight: 600;
}

.container2 {
  width: 51%;
  height: 100vh;
  margin-right: auto;
}

.container2 img:nth-child(1) {
  width: 850px;
  position: absolute;
  z-index: -1;
  bottom: 30px;
  transform: rotate(22.77deg);
}

.container2 img:nth-child(2) {
  width: 250px;
  position: absolute;
  right: 310px;
  bottom: 300px;
  opacity: 0.8;
}

.container2 img:nth-child(3) {
  width: 250px;
  position: absolute;
  right: 120px;
  bottom: 220px;
  opacity: 0.8;
}

.container2 img:nth-child(4) {
  width: 250px;
  position: absolute;
  right: 280px;
  bottom: 10px;
  opacity: 0.8;
}

.container2 h2 {
  color: red;
  opacity: 0.8;
}

.container2 h2:nth-child(5) {
  position: absolute;
  right: 290px;
  bottom: 480px;
}

.container2 h2:nth-child(6) {
  position: absolute;
  right: 85px;
  bottom: 320px;
}

.container2 h2:nth-child(7) {
  position: absolute;
  right: 280px;
  bottom: 20px;
}

section {
  width: auto;
  height: 100vh;
}

.head {
  height: 20vh;
  width: auto;
  display: flex;
  place-items: center;
  justify-content: center;
}

.head h2 {
  font-weight: bold;
  font-size: 50px;
  text-align: center;
  color: #4a9700;
}

.left {
  width: 40%;
  height: 80vh;
  margin-left: auto;
}

.right {
  width: 54%;
  height: 80vh;
  margin-right: auto;
  display: flex;
}

.addfiles {
  width: 301px;
  height: 365px;
  background: #8ebc3e;
  outline: 15px solid rgba(137, 210, 12, 0.34);
  border: 15px solid rgba(137, 210, 12, 0);
  border-radius: 40px;
  margin: 70px 0 0 150px;
}

.addfiles h1 {
  margin-bottom: 50px;
  font-size: 25px;
  color: white;
}

.box {
  background: #d6ffad;
  border-radius: 91px;
  width: 600px;
  height: 500px;
  margin-left: 100px;
  margin-top: 20px;
}

.box h2 {
  font-weight: 600;
  font-size: 32px;
  text-align: center;
  color: #2b2b2b;
  margin: 160px 0 30px 0;
}

.box p {
  width: 85%;
  margin: auto;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  color: #2e2e2e;
}

footer {
  width: auto;
  height: 100vh;
}

.dabba {
  width: 30%;
  height: 450px;
  background: #d6ffac;
  box-shadow: 0px 0px 14px 10px rgba(0, 0, 0, 0.08);
  border-radius: 26px;
  margin-top: 20px;
}

.d-1 {
  margin-left: auto;
  margin-right: 80px;
}

.d-2 {
  margin-right: auto;
  margin-left: 80px;
}

.dabba h3 {
  text-align: center;
  margin: 80px 0 20px 0;
}

.dabba img {
  width: 80%;
  margin-left: 40px;
}

.batti-green1 {
  position: absolute;
  width: 500px;
  height: 500px;
  left: 138px;
  top: -113px;
  z-index: -2;

  background: rgba(33, 238, 0, 0.14);
  filter: blur(100px);
}

.batti-green2 {
  position: absolute;
  width: 500px;
  height: 500px;
  left: 1203px;
  top: 52px;
  z-index: -2;

  background: rgba(33, 238, 0, 0.14);
  filter: blur(100px);
}

.batti-green3 {
  position: absolute;
  width: 500px;
  height: 500px;
  left: 202px;
  top: 1400px;
  z-index: -2;

  background: rgba(33, 238, 0, 0.14);
  filter: blur(100px);
}

.batti-green4 {
  position: absolute;
  width: 500px;
  height: 500px;
  left: -38px;
  top: 2079px;
  z-index: -2;

  background: rgba(33, 238, 0, 0.14);
  filter: blur(100px);
}

.batti-yellow1 {
  position: absolute;
  width: 500px;
  height: 500px;
  left: 188px;
  top: 600px;
  z-index: -2;

  background: rgba(219, 255, 0, 0.14);
  filter: blur(100px);
}

.batti-yellow2 {
  position: absolute;
  width: 500px;
  height: 500px;
  left: 1250px;
  top: 980px;
  z-index: -2;

  background: rgba(219, 255, 0, 0.14);
  filter: blur(100px);
}

.batti-yellow3 {
  position: absolute;
  width: 500px;
  height: 500px;
  left: 1217px;
  top: 1844px;

  background: rgba(219, 255, 0, 0.14);
  filter: blur(100px);
}
